---
const year = new Date().getFullYear();

const currentPath = Astro.url.pathname.replace(/\//ig, '');
const GitHubEditUrl = 'https://github.com/ilpav12/trackdayr-docs/edit/main/src/pages/'+currentPath+'.md';
---

<div class="mt-10 pt-10 text-sm border-t border-slate-200 sm:flex justify-between text-slate-500 dark:border-slate-200/5">
    <div class="mb-6 sm:mb-0 sm:flex"><p>Copyright © <!-- -->{ year }<!-- --> MadCow S.r.l.</p>
        <p class="sm:ml-4 sm:pl-4 sm:border-l sm:border-slate-200 dark:sm:border-slate-200/5">
            <a class="hover:text-slate-900 dark:hover:text-slate-400" href="/brand">
                Trademark Policy
            </a>
        </p>
    </div>
    <a class="hover:text-slate-900 dark:hover:text-slate-400" href={GitHubEditUrl}>
        Edit this page on GitHub
    </a>
</div>