<div class="hidden xl:sticky xl:top-[4.5rem] xl:-mr-6 xl:block xl:h-[calc(100vh-4.5rem)] xl:flex-none xl:overflow-y-auto xl:py-16 xl:pr-6">
    <nav aria-labelledby="on-this-page-title" class="w-56">
        <h2 id="on-this-page-title" class="font-display text-sm font-medium text-slate-900 dark:text-white">
            On this page
        </h2>
        <ol role="list" class="mt-4 space-y-3 text-sm">
            <li><h3><a class="text-sky-500" href="/docs/installation#quis-vel-iste-dicta">Quis vel iste dicta</a></h3>
                <ol role="list" class="mt-2 space-y-3 pl-5 text-slate-500 dark:text-slate-400">
                    <li><a class="hover:text-slate-600 dark:hover:text-slate-300"
                           href="/docs/installation#et-pariatur-ab-quas">Et pariatur ab quas</a></li>
                    <li><a class="hover:text-slate-600 dark:hover:text-slate-300"
                           href="/docs/installation#natus-aspernatur-iste">Natus aspernatur iste</a></li>
                </ol>
            </li>
            <li><h3><a
                    class="font-normal text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-300"
                    href="/docs/installation#quos-porro-ut-molestiae">Quos porro ut molestiae</a></h3>
                <ol role="list" class="mt-2 space-y-3 pl-5 text-slate-500 dark:text-slate-400">
                    <li><a class="hover:text-slate-600 dark:hover:text-slate-300"
                           href="/docs/installation#voluptatem-quas-possimus">Voluptatem quas possimus</a></li>
                    <li><a class="hover:text-slate-600 dark:hover:text-slate-300"
                           href="/docs/installation#id-vitae-minima">Id vitae minima</a></li>
                </ol>
            </li>
            <li><h3><a
                    class="font-normal text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-300"
                    href="/docs/installation#vitae-laborum-maiores">Vitae laborum maiores</a></h3>
                <ol role="list" class="mt-2 space-y-3 pl-5 text-slate-500 dark:text-slate-400">
                    <li><a class="hover:text-slate-600 dark:hover:text-slate-300"
                           href="/docs/installation#corporis-exercitationem">Corporis exercitationem</a></li>
                    <li><a class="hover:text-slate-600 dark:hover:text-slate-300"
                           href="/docs/installation#reprehenderit-magni">Reprehenderit magni</a></li>
                </ol>
            </li>
        </ol>
    </nav>
</div>